# =========================
# JAVA / MAVEN
# =========================
backend-java/target/
*.log

# =========================
# NODE / REACT / ELECTRON / API
# =========================
node_modules/

frontend/node_modules/
electron/node_modules/
api-node/node_modules/

frontend/dist/
electron/dist/
api-node/dist/

# =========================
# ENV
# =========================
.env
api-node/.env
frontend/.env
electron/.env

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# TEMP / CACHE
# =========================
*.tmp
*.temp
.cache/

# =========================
# DOCKER
# =========================
docker-data/
mariadb_data/

# =========================
# MEDIA OPCIONAL
# =========================
# Descomenta si NO quieres subir multimedia
media/